<launch>
 
  <arg name="model" default="$(find aubo_description)/urdf/aubo_i5.urdf.xacro"/>
  <arg name="gui" default="true" />
  
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
   




   
</launch>


 <!-- 
 https://www.rosroboticslearning.com/ros-control
 https://github.com/bandasaikrishna/ros_control_example
 rosrun controller_manager controller_manager list  // to see if controllers are running
 sudo apt install ros-kinetic-gazebo-ros-control
 
 
 -->